body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-size: 22px;
  margin: 10px
}

.post{
  display: flex;
  padding:10px;
  border: 2px solid rgb(62, 118, 223);
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

}

.post_description{
  font-size:large;
}